<!doctype html>
<html>

  <head>
    <% if app.build? %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TFKXGZC');</script>
      <!-- End Google Tag Manager -->
    <% end %>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= page_title %></title>
    <meta name="description" content="<%= page_description %>">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="<%= page_description %>">
    <meta name="twitter:site" content="<%= data.settings.site.twitter_handle %>">
    <meta name="twitter:title" content="<%= page_title %>">
    <meta name="twitter:description" content="<%= page_description %>">
    <meta name="twitter:creator" content="<%= data.settings.site.creator_twitter_handle %>">
    <meta name="twitter:image" content="<%= page_image %>">

    <!-- Open Graph data -->
    <meta property="og:title" content="<%= page_title %>">
    <meta property="og:type" content="article">
    <meta property="og:url" content="<%= data.settings.site.base_url %><%= current_page.url %>">
    <meta property="og:image" content="<%= page_image %>">
    <meta property="og:description" content="<%= page_description %>">
    <meta property="og:site_name" content="<%= data.settings.site.title %>">

    <%= stylesheet_link_tag 'main' %>

    <link rel="shortcut icon" type="image/x-icon" href="<%= image_path('favicon.ico') %>">
  </head>

  <body>

    <% if app.build? %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFKXGZC"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <%= partial 'partials/header' %>

    <%= yield %>

    <%= partial 'partials/footer' %>

    <script src="//code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/4.2.1/masonry.pkgd.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"
            integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i"
            crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>

    <%= javascript_include_tag 'main' %>

  </body>

</html>
