<div class="features">
  <div class="features--bg-left"></div>
  <div class="features--bg-right"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 feature feature--left feature--quote-bg">
        <div class="feature--icon feature--icon-double">
          <%= icon 'acorn-quote' %>
          <%= icon 'acorn-quote' %>
        </div>
        <% if data.quotes.present? %>
          <span data-random-quotes="1">
            <% data.quotes.each do |quote| %>
              <span class="quote--random">
                <p class="font-size-large font-weight-bold">
                  <%= quote.body %>
                </p>
                <p class="font-size-small text-right">
                  <%= quote.storyteller.name %>
                </p>
                <p class="font-size-small text-right">
                  <a href="#" class="text-black-alpha">Episode <%= quote.episode.number %></a>
                </p>
              </span>
            <% end %>
          </span>
          <a href="/quotes" class="feature--cta btn btn-black-alpha px-5">View All Quotes</a>
        <% else %>
          <p class="font-size-large font-weight-bold">
            Quotes coming soon ...
          </p>
        <% end %>
      </div>
      <div class="col-md-6 feature feature--right feature--mic-bg">
        <div class="feature--icon">
          <%= icon 'mic' %>
        </div>
        <p class="font-size-large font-weight-bold">
          What's your Squirrel Story?
        </p>
        <p>
          Everyone has that one embarrassing, goofy, or totally strange story
          they love to share at parties.
        </p>
      </div>
    </div>
  </div>
</div>
