<div class="main-nav">
  <a href="javascript:void(0)" class="main-nav--close" data-active-toggle='{ ".main-nav": "active" }'>
    <%= icon 'close' %>
  </a>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link <%= 'active' if active_nav?(:path, 'index.html') %>" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if active_nav?(:segment, 'episodes') %>" href="/episodes">Episodes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if active_nav?(:segment, 'quotes') %>" href="/quotes">
        Quotes
        <%= '(Coming Soon)' unless data.quotes.present? %>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.patreon.com/squirrelstories" target="_blank">Support The Show</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if active_nav?(:segment, 'share-your-story') %>" href="/share-your-story">Share Your Story</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)">Merchandise (Coming Soon)</a>
    </li>
  </ul>
</div>
