<div class="row">
  <article class="episode col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <h2 class="episode--title text-center">
      <a class="text-black" href="<%= episode_path(episode) %>">
        <%= episode.name %>
      </a>
    </h2>
    <div class="clearfix">
      <%#= image_tag ix_url(episode.image.try(:url), w: 600, h: 400, fit: 'crop'), class: 'episode--image' %>
      <!--br-->
      <%#= ix_img episode.image.try(:url), { w: 600, h: 400, fit: 'crop' }, class: 'episode--image' %>
      <%= image_tag s3_img_path(episode.image.try(:url)) %>
      <div class="episode--overview">
        <p class="font-size-small">
          <a href="<%= episode_path(episode) %>">Episode <%= episode.number %></a>
        </p>
        <p>
          <%= episode.description %>
        </p>
        <p class="font-weight-bold font-size-small">
          <% storytellers = episode.stories.collect(&:storyteller).uniq %>
          <% storytellers.each do |storyteller| %>
            <a href="#">
              <%= storyteller.name + (storyteller == storytellers.last ? '' : ',')%>
            </a>
          <% end %>
        </p>
        <p class="font-size-small">
          <%= Date.parse(episode.date).strftime('%b %d, %Y') %>
        </p>
      </div>
    </div>
    <% if episode.quotes.present? %>
      <div class="line line--small mb-4"></div>
      <div class="row font-italic text-center font-size-small">
        <% episode.quotes.first(2).each do |quote| %>
          <div class="col-sm-6">
            <p class="episode--quote">
              <a href="<%= quote_path(quote) %>">
                "<%= quote.body %>"
              </a>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="line line--medium mt-4"></div>
  </article>
</div>
