<div class="row <%= 'paginated' if (paginated ||= false).present? %> <%= 'paginated--show' if (idx ||= 100) < 10 %>">
  <article class="episode col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <h2 class="episode--title text-center">
      <a class="text-black" href="<%= episode_path(episode) %>">
        <%= episode.name %>
      </a>
    </h2>
    <div class="clearfix">
      <%= ix_img episode.image.try(:url), class: 'episode--image', ratio: 1.5, sizes: { sm: 15, md: 20 } %>
      <div class="episode--overview">
        <p class="font-size-small">
          <a href="<%= episode_path(episode) %>"><strong>Episode <%= episode.number %></strong></a>
        </p>
        <%= simple_format episode.description %>
        <p class="font-weight-bold font-size-small">
          <% storytellers = episode.stories.collect(&:storyteller).uniq %>
          <% storytellers.each do |storyteller| %>
            <a href="<%= storyteller_path(storyteller) %>">
              <%= storyteller.name + (storyteller == storytellers.last ? '' : ',')%>
            </a>
          <% end %>
        </p>
        <p class="font-size-small">
          <%= Date.parse(episode.date).strftime('%b %d, %Y') %>
        </p>
      </div>
    </div>
    <% if episode.quotes.present? %>
      <div class="line line--small mb-4"></div>
      <div class="row font-italic text-center font-size-small" data-random-quotes="2">
        <% episode.quotes.each do |quote| %>
          <div class="col-sm-6 quote--random">
            <p class="episode--quote">
              <a href="<%= quote_path(quote) %>">
                "<%= quote.body %>"
              </a>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="line line--medium mt-4"></div>
  </article>
</div>
