<a href="/quotes/<%= quote.episode.id %>/<%= quote.id %>" class="paginated quote--random">
  <article class="masonry--tile <%= random_masonry_class %> <%= masonry_font_size_class(quote.body) %>">
    <p><%= quote.body %></p>
  </article>
</a>
