<div class="page-header bg-triangles">
  <h1><%= episode.title %></h1>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "RadioEpisode",
  "name": "<%= episode.name %>",
  "url": "https://www.squirrelstories.fm<%= episode_path(episode) %>",
  "episodeNumber": "<%= episode.number %>",
  "partOfSeason": "<%= episode.number.split('.').first.to_i %>",
  "about": "<%= episode.description %>",
  "accountablePerson": "Sean C Davis",
  "audio": {
    "contentUrl": "<%= episode.download_url %>",
    "encodingFormat": "mp3",
    "requiresSubscription": false
  },
  "author": {
    "@type": "Person",
    "email": "sean@squirrelstories.fm",
    "homeLocation": "Cincinnati, Ohio",
    "givenName": "Sean C Davis"
  },
  "copyrightHolder": "Sean C Davis",
  "creator": "Sean C Davis",
  "dateCreated": "<%= episode.date %>",
  "dateModified": "<%= episode.date %>",
  "datePublished": "<%= episode.date %>",
  "image": "<%= ix_url(episode.image.try(:url), w: 1200, h: 1200, fit: 'crop') %>"
}
</script>

<div class="container mt-4">
  <div class="row">
    <article class="episode col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="clearfix">
        <%= ix_img episode.image.try(:url), class: 'episode--image', ratio: 1.5, sizes: { sm: 15, md: 20, lg: 25 } %>
        <div class="episode--overview mb-5">
          <p class="font-size-small">
            <strong>Episode <%= episode.number %></strong>
          </p>
          <%= simple_format episode.description %>
          <p class="font-size-small mb-3 font-size-small text-gray-600">
            <%= Date.parse(episode.date).strftime('%b %d, %Y') %>
          </p>
          <p>
            <% if episode.itunes_url.present? %>
              <a href="<%= episode.itunes_url %>" target="_blank" class="mr-2"><%= icon 'apple', class: 'icon--md' %></a>
            <% end %>
            <% if episode.google_play_url.present? %>
              <a href="<%= episode.google_play_url %>" target="_blank" class=""><%= icon 'google-play', class: 'icon--md' %></a>
            <% end %>
            <% if episode.download_url.present? %>
              <a href="<%= episode.download_url %>" target="_blank" class=""><%= icon 'download', class: 'icon--md' %></a>
            <% end %>
          </p>
        </div>
      </div>
      <% if episode.show_notes.present? %>
        <h3 class="episode--section-heading text-center">Notes</h3>
        <%= episode.show_notes.html_safe %>
      <% end %>
      <% if episode.stories.present? %>
        <div class="episode--stories">
          <h3 class="episode--section-heading text-center">Stories</h3>
          <% episode.stories.each do |story| %>
            <div class="episode--story">
              <h4 class="episode--story-heading"><%= story.name %></h4>
              <p class="episode--story--storyteller font-weight-bold">
                <a href="<%= storyteller_path(story.storyteller) %>"><%= story.storyteller.name %></a>
              </p>
              <p class="episode--story--body"><%= story.description %></p>
            </div>
            <% unless story == episode.stories.last %>
              <div class="line line--small my-4"></div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if episode.quotes.present? %>
        <h3 class="episode--section-heading text-center">Quotes</h3>
        <div class="row font-italic text-center font-size-small" data-random-quotes="<%= episode.quotes.size %>">
          <% episode.quotes.each do |quote| %>
            <div class="col-sm-6 quote--random mt-3 mb-3">
              <p class="episode--quote m-0">
                <a href="<%= quote_path(quote) %>">
                  "<%= quote.body %>"
                </a>
              </p>
            </div>
          <% end %>
        </div>
      <div class="line line--medium"></div>
      <% end %>
    </article>
  </div>
  <!--p class="text-center mb-5">
    <a href="#" class="btn btn-outline-primary">Load Random Episode</a>
  </p-->
</div>
