<div class="page-header bg-triangles">
  <h1>&nbsp;</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 quote quote--offset-top">
      <%= simple_format quote.body, class: 'quote--body text-center' %>
      <ul class="quote--social-icons list-unstyled">
        <li>
          <a href="<%= facebook_share_url %>" target="_blank">
            <%= icon 'facebook' %>
          </a>
        </li>
        <li>
          <a href="<%= twitter_share_url %>" target="_blank">
            <%= icon 'twitter' %>
          </a>
        </li>
      </ul>
      <p class="mb-2">
        <a href="/episodes/<%= quote.episode.slug %>">
          <strong>Episode <%= quote.episode.number %>: <%= quote.episode.name %></strong>
        </a>
      </p>
      <p>
        <%= Date.parse(quote.episode.date).strftime('%B %-d, %Y') %>
      </p>
    </div>
  </div>

  <div class="type--index-title mb-2">
    <h1>Other Quotes</h1>

    <div class="masonry invisible masonry--static-colors">
      <div class="masonry--sizer"></div>
      <% (data.quotes - [quote]).sample(3).each do |quote| %>
        <%= partial 'quote', locals: { quote: quote } %>
      <% end %>
    </div>
  </div>
</div>
